<div id="root-container">
  <header>
    <div class="header-container">
      <div class="brand">{{ title }}</div>
    </div>
  </header>
  <aside>
    <div id="aside-container">
      <app-home></app-home>
    </div>
  </aside>
  <main>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer>
    <div class="footer-container">
      <div class="author">
        Criado por <a href="https://brunocarneiro312.github.io/" target="_blank">Bruno Carneiro</a>
      </div>
      <div class="media">
        <a href="https://github.com/brunocarneiro312/b3teste-cadastro-usuarios-frontend" target="_blank">Fonte do projeto</a>
      </div>
    </div>
  </footer>
</div>
