#root-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

  header {
    font-family: Verdana;
    grid-area: header;

    .header-container {
      padding: 15px;

      .brand {
        font-size: 1.2em;
      }
    }
  }

  main {
    font-family: Verdana;
    grid-area: main;
    background: #f5f5f5;

    .main-container {
      padding: 15px;
    }
  }

  footer {
    font-family: Verdana;
    grid-area: footer;
    font-size: 0.8em;
    .footer-container {
      display: flex;
      justify-content: space-between;
      padding: 15px;
    }
  }
}
